.ContenedorHome {
    background-color: #dce1ee;
    min-height: 100vh;
    height: calc(100vh - 65px);
    display: flex;
    font-size: calc(10px + 2vmin);
    color: rgb(61, 61, 61);

}

.ContenedorLogin {
  background-color: #3d5381;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(61, 61, 61);
}

.Workzone {
  display:flex;
  position: absolute;
  width: 100%;
  height: calc(96vh - 65px);
  min-height: 380px;
  justify-content: center;
  align-content: center;
  margin-top: 64px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: auto;
}
